if NOT EXISTS(
select * from INFORMATION_SCHEMA.TABLES
where TABLE_NAME = '__EFMigrationsHistory' and TABLE_SCHEMA = 'dbo')
BEGIN
	print 'Creating Table __EFMigrationsHistory'

	CREATE TABLE [dbo].[__EFMigrationsHistory](
		[MigrationId] [nvarchar](150) NOT NULL,
		[ProductVersion] [nvarchar](32) NOT NULL,
	 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
	(
		[MigrationId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]
END

if NOT EXISTS(select * from INFORMATION_SCHEMA.TABLES
where TABLE_NAME = 'Users' and TABLE_SCHEMA = 'dbo')
BEGIN
	Print 'Creating Table Users'
	CREATE TABLE [dbo].[Users](
		[UserId] [uniqueidentifier] NOT NULL,
		[UserName] [nvarchar](max) NULL,
		[EmailAddress] [nvarchar](max) NULL,
		[PasswordHash] [nvarchar](max) NULL,
		[Phone] [bigint] NOT NULL,
		[Address] [nvarchar](max) NULL,
		[ZipCode] [nvarchar](max) NULL,
		[City] [nvarchar](max) NULL,
		[Country] [nvarchar](max) NULL,
		[CreatedOn] [datetime2](7) NOT NULL,
		[UpdatedOn] [datetime2](7) NOT NULL,
	 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
	(
		[UserId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END

if NOT EXISTS(select * from INFORMATION_SCHEMA.TABLES
where TABLE_NAME = 'Books' and TABLE_SCHEMA = 'dbo')
BEGIN
	Print 'Creating Table Books'

	CREATE TABLE [dbo].[Books](
		[BookId] [uniqueidentifier] NOT NULL,
		[Title] [nvarchar](max) NULL,
		[Author] [nvarchar](max) NULL,
		[PublishedOn] [datetime2](7) NOT NULL,
		[Price] [float] NOT NULL,
		[PublishedBy] [nvarchar](max) NULL,
		[ISBNNumber] [nvarchar](max) NULL,
		[UserId] [uniqueidentifier] NOT NULL,
		[CreatedOn] [datetime2](7) NOT NULL,
		[UpdatedOn] [datetime2](7) NOT NULL,
		[Synopsis] [nvarchar](max) NULL,
	 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
	(
		[BookId] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END



GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users_UserId]
